*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

header{
    background-color: rgb(211, 163, 128);
    color: white;
    padding: 1rem;
    position: sticky;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}
.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.header-nav{
    display: flex;
    gap: 2rem;
}
.header-nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.header-nav a:hover{
    color: rgba(20, 20, 16, 0.795);
    transition: 0.5s;
}
.button{
    background-color: chocolate;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}
.button a{
    text-decoration: none;
    color: white;
}
.button:hover{
    transition: 0.5s;
    background-color: white;
    color: chocolate;
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 0 5px 15px rgba(3, 3, 3, 0.6);
}

section{
    padding: 4rem;
    text-align: center;
}

section{
    padding: 4rem 5%;
}
.section-menu{
    background-color: bisque;
}
.menu{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: rgb(168, 126, 96);
}
h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.712);
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.menu-card{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 1px solid black;
    width: 100%;
    max-width: 400px;
    height: 450px;
    cursor: pointer;
    text-align: center;
}
.menu-card:hover{
    transform: scale(1.03);
}
.menu-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section-menu {
    transition: all 0.4s ease;
}

.back-menu-btn {
    display: none;
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 16px;
    background-color: chocolate;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.back-menu-btn:hover {
    background-color: white;
    color: chocolate;
    transition: 0.4s;
}


.map-wrapper {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .header-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .header-nav li {
    margin: 5px 0;
  }

  section h1, section h2, section h4 {
    text-align: center;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }

  .button {
    width: 100%;
    justify-content: center;
  }
}
